---
---

@layer components {
  a:not(.nounder) {
    @apply underline;
  };

  a:not(.reset) {
    @apply text-blue-700;
  };

  a:visited:not(.reset) {
    @apply text-purple-700;
  };

  .prose {
    @apply space-y-2;

    a > code {
      color: inherit;
    }

    h1 {
      @apply text-4xl;
    };

    h2 {
      @apply text-3xl;
    };

    h3 {
      @apply text-2xl;
    };

    h4 {
      @apply text-xl;
    };

    figure.highlight table {
      width: inherit;
      margin-top: 0;
      margin-bottom: 0;
      font-size: inherit;
    }

    td.code, figure.highlight > pre {
      @apply py-2 px-4;
    };

    td.gutter {
      border-color: #928374;
      @apply pr-2 border-r-2;
    };

    td.code {
      padding-top: 5px;
      padding-bottom: 5px;
    };
  };
};

