---
layout: bare
---
<h1 class="font-bold text-2xl text-center mb-4">
  Ported Functions Breakdown
</h1>

<p class="mb-2">
  CCCC has found {{ site.data.functions_ported.total_c }} functions in the original code.
  Out of them, {{ site.data.functions_ported.ported }} functions
  ({{ site.data.functions_ported.ported_ratio }}%) were ported.
</p>

<p class="mb-2">
  Table below lists the ported functions. The first column contains the
  original name of the function and two links (<i>C</i>, <i>E</i>) which will take
  you to the original C code and the ported Eiffel code respectively.
</p>

<p class="mb-2">
  The next two columns <i>C</i> and <i>Eiffel</i> display the lines of
  code in the original function and the port.
</p>

<p class="mb-2">
  The last column <i>Ratio</i> is the increase factor of porting the C function
  to Eiffel.
</p>

<p class="mb-4">
  In the end of the table there is a list of functions which are not ported
  yet.
</p>

<table class="w-full">
  <thead>
    <tr class="bg-california-600 text-white font-bold">
      <td class="pl-2">Function</td>
      <td>C</td>
      <td>Eiffel</td>
      <td class="pr-2">Ratio</td>
    </tr>
  </thead>
  {% for row in site.data.functions_ported.funcs %}
    <tr class="bg-california-100 hover:bg-california-200">
      <td class="pl-2">
        {{ row.cname_orig }}
        (<a href="{{
                 'https://github.com/id-Software/DOOM/blob/master/linuxdoom-1.10/'
                 | append: row.cfile
                 | append: '#L'
                 | append: row.cline
                  }}">C</a>,
        <a href="{{
                 '/documentation/'
                 | append: row.cluster
                 | append: '.html'
                 | append: '#f_'
                 | append: row.ename
                 | relative_url
                 }}">E</a>)
      </td>
      <td>{{ row.cloc }}</td>
      <td>{{ row.eloc }}</td>
      <td class="pr-2">{{ row.c_to_e }}</td>
    </tr>
  {% endfor %}
  <tr class="bg-california-600 text-white font-bold text-center">
    <td colspan="4">Not yet ported</td>
  </tr>
  {% for row in site.data.functions_ported.not_ported %}
    <tr class="bg-california-100 hover:bg-california-200">
      <td class="pl-2">
        <a href="{{
                'https://github.com/id-Software/DOOM/blob/master/linuxdoom-1.10/'
                | append: row.cfile
                | append: '#L'
                | append: row.cline
                }}">{{ row.cname_orig }}</a>
      </td>
      <td>—</td>
      <td>—</td>
      <td>—</td>
    </tr>
  {% endfor %}
</table>
